body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(
    to left,
    rgba(7, 27, 82, 1) 0%,
    rgba(0, 128, 128, 1) 100%
  ); */
  /* background-image: url("./images/wood-background-5.jpg");
  background-size: 100%; */
    
  /* background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(42,42,107,1) 35%, rgba(0,212,255,1) 100%); */
  /* background: rgb(221,101,74);
  background: linear-gradient(90deg, rgba(221,101,74,1) 0%, rgba(214,137,89,1) 35%, rgba(232,202,173,1) 100%); */
  background: rgb(221,101,74);
  background: linear-gradient(90deg, rgba(221,101,74,1) 0%, rgba(214,137,89,1) 35%, rgba(232,202,173,1) 100%);
  text-align: center;
}

.app-title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 80px;
  color: #0ccac4;
  font-family: 'Dancing Script';
}
